extends admin_menu

block menu_content
    .row
        .col.s12
            a.btn.waves-effect.waves-light.white-text.col.s12(href='/admin/products' ) Products
    .row
        .col.s12
            a.btn.waves-effect.waves-light.white-text.col.s12(href='/admin/users' ) Users
    .row
        .col.s12
            a.btn.waves-effect.waves-light.white-text.col.s12(href='/admin/offers' ) Offers


block back_button
        .row.action-btn(style="margin-bottom: 30px !important;")
                a#logOut.waves-effect.waves-light.btn.sidebar-button(title='log out' onclick='deleteCredentials()')
                    | Cerrar sesi&oacute;n


block scripts
    script(src="/js/admin/admin.js")
