extends ../header_layout

block main-content
    .col.s12.z-depth-4.card-panel(style='padding: 2em')
        .row
            table
                thead
                    tr
                        th
                        th Email
                        th Name
                        th Balance

                tbody#userList

block scripts
    script(src='/js/admin/admin_user_list.js')