extends admin_menu

block menu_content
    .row
        .col.s12
            a.btn.waves-effect.waves-light.white-text.col.s12(href='/admin/products' ) Products
    .row
        .col.s12
            a.btn.waves-effect.waves-light.white-text.col.s12(href='/admin/users' ) Users
    .row
        .col.s12
            a.btn.waves-effect.waves-light.white-text.col.s12(href='/admin/offers' ) Offers

block scripts