extends ../layout

block content
    header
        nav.header.full-width(role='navigation')
            .nav-wrapper.container.center
                a(href="./")
                    img.logo-header(src='/images/logo.png')
    .row
    main#login-page.row.valign-wrapper(style='min-width: 100%; padding: 0em 2em 0em 2em; margin-bottom: 0em')
        .col.s12.z-depth-4.card-panel(style='padding: 2em')
            .row
                table
                    thead
                        tr
                            th
                            th Email
                            th Name
                            th Balance

                    tbody#userList

block scripts
    script(src='/js/admin/admin_user_list.js')