extends ../header_layout

block main-content
    .col.s12.m8.offset-m2.l6.offset-l3.z-depth-4.card-panel(style='padding: 2em')
        .input-field
            select#comboUsers
                option(value="" disabled selected) ...
            label User list
        .row
        .input-field
            input#cashToAdd(type='number' step='0.01')
            label(for="cashToAdd") Amount
        .input-field
            a.btn.btnSendPayment.col.s12(onclick='sendPayment()') SEND

block scripts
    script(src='/js/admin/admin_payments.js')