extends ../header_layout

block main-content
    .col.s12.m8.offset-m2.l4.offset-l4.z-depth-4.card-panel(style='padding: 2em')
        block menu_content
        .row.center
            .col.s12
                include ../switch.pug
        block back_button

block scripts