extends ../header_layout

block main-content
    .col.s12.m8.offset-m2.l4.offset-l4.z-depth-4.card-panel(style='padding: 2em')
        .row
            .input-field.col.s12
                a.btn.amber.darken-1.waves-effect.waves-light.white-text.col.s12(href='/admin/add-new-product' ) Add products
        .row
            .input-field.col.s12
                a.btn.cyan.darken-2.waves-effect.waves-light.white-text.col.s12(href='/admin/update-product' ) Update products
        .row
            .input-field.col.s12
                a.btn.red.waves-effect.waves-light.white-text.col.s12(href='/admin/add-payment' ) Make a payment
        .row
            .input-field.col.s12
                a.btn.green.accent-4.waves-effect.waves-light.white-text.col.s12(href='/admin/user-list' ) Users list

block scripts