extends ../header_layout

block main-content
    .col.s12.m10.offset-m1.l6.offset-l3.z-depth-4.card-panel(style='padding: 2em')
        form.login-form
            .row#imageRow(style='margin-bottom: 0.5em')
                img#productImage.circle.responsive-img.col.s10.offset-s1.m6.offset-m3.l8.offset-l2(src="/images/default-product-image.jpg" style="object-fit: cover; padding: 0;")
                input#fileElem(type="file" accept="image/*" style="display:none" onchange="handleFiles(this.files,'productImage')")
            .row(style='margin-bottom: 0em')
                .input-field.col.s12
                    input#productName(type='text')
                    label(for='productName' data-error='wrong' data-success='right') Name
            .row(style='margin-bottom: 0.5em')
                .input-field.col.s12
                    input#marketPrice(type='number' min="0" step="0.01")
                    label(for='marketPrice') Price
            .row
                .col.s12.margin-bottom
                    include productSelector.pug
            .row
                .col.s12.l8.push-l4.margin-bottom
                    a.btn.light-green.accent-4.waves-effect.waves-light.white-text.col.s12(href='#' onclick='addProduct()') Send
                .col.s4.l4.pull-l8
                    a.btn.rojo.waves-effect.waves-light.texto-oscuro.col.s12(href='/admin/offers')
                        i.material-icons.left.tiny arrow_back
                        span back
            .row.center
                .col.s12
                    include ../switch.pug

block scripts
    script(src='/js/croppie/croppie.js')
    script(src='/js/imageUploader.js')
    script(src='/js/admin/admin_add_offer.js')
    script(src='/js/admin/productSelector.js')
