extends ../header_layout

block main-content
    .row.valign-wrapper.user-history
        .col.s12.z-depth-4.card-panel.full-padding
            ul#userList.collapsible.popout

    div.fixed-action-btn.left
        a.btn-floating.rojo.waves-effect.waves-light.btn.texto-oscuro(href='/admin/users' title="Back")
            i.material-icons.center.tiny arrow_back

block scripts
    script(src='/js/admin/admin_user_list.js')