extends ../header_layout

block main-content
    .col.s12.z-depth-4.card-panel(style='padding: 0em')
        .row
            table.s12
                thead
                    tr
                        th
                            a.btn.rojo.waves-effect.waves-light.texto-oscuro.col.s3(href='/admin/users' title="Back")
                                i.material-icons.left.tiny arrow_back
                        th Email
                        th Name
                        th Balance

                tbody#userList

block scripts
    script(src='/js/admin/admin_user_list.js')