block selector
    div(class="productSelector")
        .row
            .col.s12.m4.margin-bottom
                #cartList.center
                    span#empty
            .col.s12.m8.margin-bottom
                .products-section
                    #products.row
                        span(style='text-align: center;') &iexcl;Tesorero, arregla la pu&ntilde;etera API!