extends layout

block content
    header
        nav.header.full-width(role='navigation')
            .nav-wrapper.container.center
                a(href="./")
                    img.logo-header(src='/images/logo.png')
    main#login-page.row.valign-wrapper(style='min-width: 100%; padding: 0em 2em 0em 2em; margin-bottom: 0em')
        .col.s12.m8.offset-m2.l4.offset-l4.z-depth-4.card-panel(style='padding: 2em')
            form.login-form
                .row(style='margin-bottom: 0.5em')
                    img#productImage.circle.responsive-img.col.s10.offset-s1.m6.offset-m3.l8.offset-l2(src="/images/default-product-image.jpg" style="object-fit: cover; padding: 0;")
                    input#fileElem(type="file" accept="image/*" style="display:none" onchange="handleFiles(this.files)")
                .row(style='margin-bottom: 0em')
                    .input-field.col.s12
                        input#productName(type='text')
                        label(for='productName' data-error='wrong' data-success='right') Name
                .row(style='margin-bottom: 0.5em')
                    .input-field.col.s12
                        input#stock(type='number')
                        label(for='stock') Stock
                .row(style='margin-bottom: 0.5em')
                    .input-field.col.s12
                        input#marketPrice(type='number')
                        label(for='marketPrice') Price
                .row
                    .input-field.col.s12
                        a.btn.light-green.accent-4.waves-effect.waves-light.white-text.col.s12(href='#' onclick='addProduct()') Send

block scripts
    script(src='/js/croppie/croppie.js')
    script(src='/js/admin_add_products.js')

    //
    //    .row
    //    .row
    //    .row
    //        .col.s8.offset-s2.m6.offset-m3.l4.offset-l4.xl4.offset-xl4
    //            .card
    //                form(id="myform" name="myform" action="/product/save" enctype="multipart/form-data" method="post")
    //                    .card-image
    //                        img#productImage(src="/images/default-product-image.jpg")
    //                        input#fileElem(type="file" accept="image/*" style="display:none" onchange="handleFiles(this.files)")
    //                        a#fileSelect.btn-floating.halfway-fab.waves-effect.waves-light.red
    //                            i.material-icons edit
    //                    .card-content
    //                        input#productName.validate(type="text" required)
    //                        label(for="productName") Product Name
    //                        input#stock.validate(type="number" step="1" min="0"  required)
    //                        label(for="stock") Stock
    //                        input#marketPrice.validate(type="number" step="0.01" min="0" required)
    //                        label(for="marketPrice") Market Price
    //
    //                    .card-action
    //                        a(href="#" onclick="resetFields()") Reset
    //                        a(href="#" onclick="addProduct()") Send
    //
    //block scripts
    //    script(src="/js/admin_add_products.js")
