extends header_layout

block main-content
    .col.s8.offset-s2
        .row
        if error.status === 404
            img(src='images/error_404.png' style="width: 100%;")
        else
            img(src='images/error_500.png' style="width: 100%;")
