extends layout

block content
    header
        nav.header.full-width(role='navigation')
            .nav-wrapper.container.center
                a(href="./")
                    img.logo-header(src='images/logo.png')
    main#login-page.row.valign-wrapper(style='min-width: 100%; padding: 0em 2em 0em 2em; margin-bottom: 0em')
        .col.s12.m8.offset-m2.l4.offset-l4.z-depth-4.card-panel(style='padding: 2em')
            form.login-form
                .row(style='margin-bottom: 0em')
                    .input-field.col.s12
                        input#email.validate(type='email')
                        label(for='email' data-error='wrong' data-success='right') Enter your user email
                .row
                    .input-field.col.s12
                        a.btn.light-green.accent-4.waves-effect.waves-light.col.s12(href='#' onclick='recover()') I forgot my password

block scripts
    script(src='js/forgotPassword.js')
