extends layout

block content
    header
        nav.header.full-width(role='navigation')
            .nav-wrapper.container.center
                a(href='/login')
                    div.logo-header
    main#login-page.row.valign-wrapper.main
        block main-content
    footer.page-footer
        .footer-copyright
            .container
                | Made by&ensp;
                a(href='http://coredumped.es') Core Dumped

block scripts