extends header_layout

block main-content
    .row.valign-wrapper.history
        .col.s12.z-depth-4.card-panel.full-padding.no-margin
            ul#purchaseList.collapsible.expandable.border-radius-max-600px

block scripts
    script(src="/js/lastPurchases.js")