extends header_layout

block main-content
    .col.s12.m8.offset-m2.l4.offset-l4.z-depth-4.card-panel(style='padding: 1em 2em; border-radius: 1em;')
        form#loginForm.login-form
            .row(style='margin-bottom: 0em')
                .input-field.col.s12
                    i.material-icons.prefix mail_outline
                    input#email.validate(type='email')
                    label(for='email' data-error='wrong' data-success='right') Email
            .row(style='margin-bottom: 0.5em')
                .input-field.col.s12
                    i.material-icons.prefix lock_outline
                    input#password(type='password')
                    label(for='password') Password
            .row(style='margin-bottom: 0.5em')
                .col.s12.center
                    label
                        input#remember-me(type='checkbox')
                        span Remember me
            .row
                .input-field.col.s12
                    p#login.btn.verde-core.waves-effect.waves-light.col.s12(onclick='login()') LOGIN
            .row
                .input-field.col.s6.m6.l6
                    p.margin.medium-small
                        a.sublink(href='./register') Register Now!
                .input-field.col.s6.m6.l6
                    p.margin.right-align.medium-small
                        a.sublink(href='./forgot-password') Forgot password?
            .row.center
                .col.s12
                    include switch.pug

block scripts
    script(src='/js/login.js')
