extends layout

block content
    header
        nav.header.full-width(role='navigation')
            .nav-wrapper.container.center
                img.logo-header(src='images/logo.png')
    main#login-page.row.valign-wrapper(style='min-width: 100%; padding: 0em 2em 0em 2em; margin-bottom: 0em')
        .col.s12.m8.offset-m2.l4.offset-l4.z-depth-4.card-panel(style='padding: 2em')
            form#loginForm.login-form
                .row(style='margin-bottom: 0em')
                    .input-field.col.s12
                        i.material-icons.prefix mail_outline
                        input#email.validate(type='email')
                        label(for='email' data-error='wrong' data-success='right') Email
                .row(style='margin-bottom: 0.5em')
                    .input-field.col.s12
                        i.material-icons.prefix lock_outline
                        input#password(type='password')
                        label(for='password') Password
                .row(style='margin-bottom: 0.5em')
                    .col.s12.center
                        input#remember-me(type='checkbox')
                        label(for='remember-me') Remember me
                .row
                    .input-field.col.s12
                        p#login.btn.light-green.accent-4.waves-effect.waves-light.col.s12(onclick='login()') LOGIN
                .divider
                .row
                    .input-field.col.s6.m6.l6
                        p.margin.medium-small
                            a.sublink(href='./register') Register Now!
                    .input-field.col.s6.m6.l6
                        p.margin.right-align.medium-small
                            a.sublink(href='./forgot-password') Forgot password?
    footer.page-footer
        .footer-copyright
            .container
                | Made by
                a(href='http://coredumped.es') Core Dumped

block scripts
    script(src='js/login.js')
