extends layout

block content
    header.store-padding
        nav.header(role='navigation')
            .nav-wrapper.container.center
                img.logo-header(src='/images/logo.png')

    #userModal.modal(style="width: 50% !important;")
        .modal-content
            form
                h4 Edit your user profile

                .row.input-field
                    .col.s12.l6
                        img#userImage.circle.responsive-img.col.s12.m10.offset-m1(src="/images/default-product-image.jpg" style="object-fit: cover; margin-top: 15px;")
                        input#fileElem(type="file" accept="image/*" style="display:none" onchange="handleFiles(this.files,'userImage')")
                    .col.s12.l6
                        .row
                            .input-field.col.s12
                                input#user_name.validate(type="text")
                                label(for="user_name") Name
                        .row
                            .input-field.col.s12
                                input#user_pass.validate(type="password")
                                label(for="user_pass") Password
                        .row
                            .input-field.col.s12
                                input#user_repass.validate(type="password")
                                label(for="user_repass") Repeat password
                        .modal-footer.row
                            .col.s6
                                a.btn.modal-action.waves-effect.waves-green.white-text(href="#!" onclick="saveUser()" ) Save
                            .col.s6
                                a.btn.red.modal-action.modal-close.waves-effect.waves-red.white-text(href="#!") Cancel

    ul#slide-out.sidenav.sidenav-fixed.oscuro.texto-claro
        li
            .user-view.oscuro
                .background
                a#photo.modal-trigger(href="#userModal")
                span.white-text.name
                span.white-text.email
                span.white-text.saldo-position.roboto-mono
                    | Saldo:
                    span#saldo.white-text
        block navbar-content
        li
            div(style='padding-top:25px;')
                .action-btn.sidebar-margins
                    a.waves-effect.waves-light.btn.sidebar-button.mas-oscuro.texto-verde-core(href='/store') Tienda
                .action-btn.sidebar-margins
                    a.waves-effect.waves-light.btn.sidebar-button.mas-oscuro.texto-verde-core(href='/purchase-history') Historial de compras
                .action-btn.sidebar-margins
                    a.waves-effect.waves-light.btn.sidebar-button.mas-oscuro.texto-verde-core(href='/payment-history') Historial de pagos
            // Cerrar sesión
            .action-btn.sidebar-margins
                a#logOut.waves-effect.waves-light.btn.sidebar-button(title='log out' onclick='deleteCredentials()')
                    | Cerrar sesi&oacute;n

    main.store-padding
        block main-content
        .fixed-action-btn.hide-on-large-only
            a.waves-effect.waves-light.btn.btn-floating.sidenav-trigger(href='#' data-target="slide-out")
                i.material-icons menu

block scripts
    script(src='/js/croppie/croppie.js')
    script(src='/js/imageUploader.js')
    script(src='/js/navbar_main.js')
    script(src='/js/utils.js')
    block nav_scripts