extends layout

block content
    header.store-padding
        nav.header(role='navigation')
            .nav-wrapper.container.center
                a(href='/store')
                    div.logo-header(style="width:500px;height:100%;")
                    
    ul#slide-out.sidenav.sidenav-fixed
        li
            .user-view
                .background
                a#photo.modal-trigger(href="#userModal")
                span.name
                span.saldo-position.roboto-mono
                    | Saldo: 
                    span#saldo
        block navbar-content
        li
            div(style='padding-top:25px;')
                .action-btn.sidebar-margins
                    a.waves-effect.waves-light.btn.sidebar-button(href='/store') Tienda
                .action-btn.sidebar-margins
                    a.waves-effect.waves-light.btn.sidebar-button(href='/purchase-history') Historial de compras
                .action-btn.sidebar-margins
                    a.waves-effect.waves-light.btn.sidebar-button(href='/payment-history') Historial de pagos
            div.center
                include switch.pug
            .action-btn.sidebar-margins(style="margin-bottom: 30px !important;")
                a#logOut.waves-effect.waves-light.btn.sidebar-button(title='log out' onclick='deleteCredentials()')
                    | Cerrar sesi&oacute;n

    main.store-padding
        block main-content
        .fixed-action-btn.hide-on-large-only
            a.waves-effect.waves-light.btn.btn-floating.sidenav-trigger(href='#' data-target="slide-out")
                i.material-icons menu

block scripts
    script(src='/js/croppie/croppie.js')
    script(src='/js/imageUploader.js')
    script(src='/js/navbar_main.js')
    block nav_scripts