extends navbar_layout

block main-content
    .row.valign-wrapper(style='min-width: 100%; padding: 0em 2em 0em 2em; margin-bottom: 0em')
        .col.s12.z-depth-4.card-panel(style='padding: 2em')
            ul#paymentList.collapsible.popout

block nav_scripts
    script(src="/js/payment_history.js")