extends navbar_layout

block main-content
    .row.valign-wrapper.user-history
        .col.s12.z-depth-4.card-panel.full-padding
            ul#purchaseList.collapsible.popout

block nav_scripts
    script(src="/js/purchase_history.js")