extends header_layout

block main-content
    .col.s12.m8.offset-m2.l4.offset-l4.z-depth-4.card-panel(style='padding: 2em')
        form.login-form
            .row(style='margin-bottom: 0.5em')
                img#avatarImage.circle.responsive-img.col.s10.offset-s1.m6.offset-m3.l8.offset-l2(src="/images/avatar.png" style="object-fit: cover; padding: 30px;")
                input#fileElem(type="file" accept="image/*" style="display:none" onchange="handleFiles(this.files,'avatarImage')")
            .row(style='margin-bottom: 0em')
                .input-field.col.s12
                    input#email.validate(type='email')
                    label(for='email' data-error='wrong' data-success='right') Email
            .row(style='margin-bottom: 0.5em')
                .input-field.col.s12
                    input#displayName(type='text')
                    label(for='displayName') User Name
            .row(style='margin-bottom: 0.5em')
                .input-field.col.s12
                    input#password(type='password')
                    label(for='password') Password
            .row(style='margin-bottom: 0.5em')
                .input-field.col.s12
                    input#rePassword(type='password')
                    label(for='rePassword') Repeat password
            .row
                .col.s12.l8.push-l4.margin-bottom
                    a.btn.verde-core.waves-effect.waves-light.texto-oscuro.col.s12(href='#' onclick='register()') Sign Up
                .col.s4.l4.pull-l8
                    a.btn.rojo.waves-effect.waves-light.texto-oscuro.col.s12(href='/login')
                        i.material-icons.left.tiny arrow_back
                        span back
            .row.center
                .col.s12
                    include switch.pug
block scripts
    script(src='/js/croppie/croppie.js')
    script(src='/js/imageUploader.js')
    script(src='/js/register.js')
