extends header_layout

block main-content
    .col.s12.m8.offset-m2.l4.offset-l4.z-depth-4.card-panel(style='padding: 2em')
        form.login-form
            .row(style='margin-bottom: 0.5em')
                img#avatarImage.circle.responsive-img.col.s10.offset-s1.m6.offset-m3.l8.offset-l2(src="/images/avatar.png" style="object-fit: cover; padding: 30px;")
                input#fileElem(type="file" accept="image/*" style="display:none" onchange="handleFiles(this.files)")
            .row(style='margin-bottom: 0em')
                .input-field.col.s12
                    input#email.validate(type='email')
                    label(for='email' data-error='wrong' data-success='right') Email
            .row(style='margin-bottom: 0.5em')
                .input-field.col.s12
                    input#displayName(type='text')
                    label(for='displayName') User Name
            .row(style='margin-bottom: 0.5em')
                .input-field.col.s12
                    input#password(type='password')
                    label(for='password') Password
            .row(style='margin-bottom: 0.5em')
                .input-field.col.s12
                    input#rePassword(type='password')
                    label(for='rePassword') Repeat password
            .row
                .input-field.col.s12
                    a.btn.light-green.accent-4.waves-effect.waves-light.col.s12.white-text(href='#' onclick='register()') Sign In

block scripts
    script(src='/js/croppie/croppie.js')
    script(src='/js/register.js')
