extends header_layout

block main-content
    .col.s12.m8.offset-m2.l4.offset-l4.z-depth-4.card-panel(style='padding: 2em')
        form.login-form
            .row(style='margin-bottom: 0.5em')
                .input-field.col.s12
                    input#password(type='password')
                    label(for='password') New password
            .row(style='margin-bottom: 0.5em')
                .input-field.col.s12
                    input#rePassword(type='password')
                    label(for='rePassword') Repeat new password
            .row
                .input-field.col.s12
                    a.btn.light-green.accent-4.waves-effect.waves-light.col.s12(href='#', onclick='reset()') Reset password


block scripts
    script(src='/js/reset_password.js')