extends navbar_layout

block navbar-content
    li
        #cartList.center
            span#empty
    li
        .center.precio-total.roboto-mono
            span.p TOTAL:
            span#total(style='padding-left: 0.2em;')
        .action-btn.sidebar-margins
            a.waves-effect.waves-light.btn.sidebar-button(href='#' onclick='purchase()')
                i.material-icons local_grocery_store

block main-content
    .products-section
        #offers.row
            span(style='text-align: center;')
    .products-section
        #products.row
            span(style='text-align: center;')

block nav_scripts
    script(src="js/store.js")
