block switch
    div(class="switch")
        label Light Mode
            input(id="switchCheckbox"
                type="checkbox"
                onClick="changeSwitch()")
            span(class="lever")
        label Dark Mode