extends header_layout

block main-content
    .preloader-wrapper.big.active(style="width: 256px; height:256px;margin:auto;")
        .spinner-layer.spinner-green-only
            .circle-clipper.left
                .circle
            .gap-patch
                .circle
            .circle-clipper.right
                .circle

block scripts
    script(src='/js/verifyEmail.js')
