/* Custom Stylesheet

*Verde Core = #64dd17;
*contraste = 900251;
*claro=#ccc;
*oscuro = #262626;
*más oscuro = #1d1d1d;
gris 1: #262626;
verde core: #0d860f;
verde saturado: #64dd17
*/
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto+Slab|Roboto:400,700");

.roboto-mono {
  font-family: "Roboto Mono", serif !important;
}

.verde-core .light-green {
  background-color: #0d860f !important;
}

.claro {
  background-color: white !important;
}

.rojo {
  background-color: #f44336 !important;
}

.texto-verde-core {
  color: #64dd17 !important;
}

.oscuro {
  background-color: #262626 !important;
}

.texto-oscuro {
  color: #262626 !important;
}

.mas-oscuro {
  background-color: #1d1d1d !important;
}

.texto-mas-oscuro {
  color: #1d1d1d !important;
}

.texto-claro {
  color: white !important;
}

.btn,
.btn-large {
  color: #fff;
  background-color: #0d860f;
}

.btn:hover,
.btn-large:hover {
  color: #262626;
  background-color: #a5e27f;
}

.btn:focus,
.btn-large:focus {
  color: #1d1d1d;
  background-color: #dadada;
}

.btn:hover:before {
  background: rgba(255, 255, 255, 0.2);
  -moz-transition: background 0.5s linear;
  -webkit-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;
}

#logOut {
  background-color: #f44336;
  color: white;
}

#logOut:hover {
  background-color: #ab261e;
  color: white;
}

.cartList {
  color: #222;
}

.cartEmptySpan {
  color:#aaa;
}

.header {
  background-color: #fff;
}

html,
body {
  background-color: #fff;
  color: #262626;
}

body {
  border-top: calc(var(--body-border-width, 15px) * 1 / 1 + 0px) solid #0d860f;
}

.logo-header {
  background: url("/images/logo.png");
}

/*login*/
.card-panel {
  background-color: #fff;
  border-color: #fff;
}

.input-field .prefix {
  color: #262626;
}

.sublink {
  color: #222;
}

.sublink:hover {
  color: #64dd17;
}

.page-footer {
  background-color: #0d860f;
}

.page-footer .footer-copyright {
  text-align: center;
  color: #dfdfdf;
}

.page-footer a {
  color: #dfdfdf;
}

.page-footer a:hover {
  color: #64dd17;
  text-decoration: underline;
}

.input-field .prefix.active {
  color: #64dd17;
}

label .active {
  color: #64dd17;
}

input:not([type]):focus:not([readonly]) + label,
input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
input[type="password"]:not(.browser-default):focus:not([readonly]) + label,
input[type="email"]:not(.browser-default):focus:not([readonly]) + label,
input[type="url"]:not(.browser-default):focus:not([readonly]) + label,
input[type="time"]:not(.browser-default):focus:not([readonly]) + label,
input[type="date"]:not(.browser-default):focus:not([readonly]) + label,
input[type="datetime"]:not(.browser-default):focus:not([readonly]) + label,
input[type="datetime-local"]:not(.browser-default):focus:not([readonly])
  + label,
input[type="tel"]:not(.browser-default):focus:not([readonly]) + label,
input[type="number"]:not(.browser-default):focus:not([readonly]) + label,
input[type="search"]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #64dd17;
}

/*Afecta al input cuando no está seleccionado*/
input:not([type]),
input[type="text"]:not(.browser-default),
input[type="password"]:not(.browser-default),
input[type="email"]:not(.browser-default),
input[type="url"]:not(.browser-default),
input[type="time"]:not(.browser-default),
input[type="date"]:not(.browser-default),
input[type="datetime"]:not(.browser-default),
input[type="datetime-local"]:not(.browser-default),
input[type="tel"]:not(.browser-default),
input[type="number"]:not(.browser-default),
input[type="search"]:not(.browser-default),
textarea.materialize-textarea {
  border-bottom: 1px solid #262626;
}

/*Afecta al input cuando está seleccionado*/
input:not([type]):focus:not([readonly]),
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="url"]:not(.browser-default):focus:not([readonly]),
input[type="time"]:not(.browser-default):focus:not([readonly]),
input[type="date"]:not(.browser-default):focus:not([readonly]),
input[type="datetime"]:not(.browser-default):focus:not([readonly]),
input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
input[type="tel"]:not(.browser-default):focus:not([readonly]),
input[type="number"]:not(.browser-default):focus:not([readonly]),
input[type="search"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #64dd17;
  -webkit-box-shadow: 0 0 0 0 #262626;
  box-shadow: 0 0 0 0 #262626;
}

/*Afecta al OK del checkbox*/
[type="checkbox"]:checked + label::before {
  border-right: 3px solid #64dd17;
  border-bottom: 3px solid #64dd17;
}

/*relativo a las tarjetas de producto*/

.titulo-producto {
  color: #1d1d1d;
  font-family: "Roboto Slab", monospace;
}

.precio-producto {
  color: #262626;
  font-family: "Roboto mono", monospace;
}

.stock-producto {
  color: #262626;
  font-family: "Roboto mono", monospace, monospace;
}

#product-price {
  color: white;
}

/* switch color */
.switch label input[type="checkbox"]:checked + .lever::after {
  background-color: #0d860f;
}

.switch label input[type="checkbox"]:checked + .lever {
  background-color: hsla(0, 0%, 0%, 0.2);
}

.sidenav.sidenav-fixed {
  border-top: calc(var(--body-border-width, 15px) * 1 / 1 + 0px) solid #0d860f;
}

.product-item {
  border: 7pt white solid;
}

.product-item:active {
  border: 7pt solid #0d860f;
}

#product-name {
  background-color: #ffffff80;
  color: #272727;
}

#product-sock {
  background-color: #5fb030;
  color: #104611;
}

/*Check recuérdame*/
[type="checkbox"]:checked + span:not(.lever)::before {
  border-right: 2px solid #0d860f;
  border-bottom: 2px solid #0d860f;
}

/*input text*/
input > -moz-fieldtext,
input {
  color: #222;
}

/*labels color*/
.label {
  color: #222 !important;
}

/* dropdown color */

.select-dropdown {
  background-color: #ccc;
}

.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid #0d860f;
}

.select-dropdown li.disabled,
.select-dropdown li.disabled > span,
.select-dropdown li.optgroup {
  color: #222;
}

.dropdown-content li > a,
.dropdown-content li > span {
  color: #222;
}

.select-wrapper .caret {
  fill: #222;
}

/* END dropdown color */

/*stock badge*/
span.badge.new {
  background-color: #0d860f;
}

/* slide out navbar*/

#slide-out {
  background-color: #fff;
  color: #262626;
}

/* modal */

.modal,
.modal .modal-footer {
  background-color: #ccc !important;
  color: #262626 !important;
}

/* users list - collapsible */
.collapsible-header,
.collapsible-body {
  background-color: #fff;
}

/*toast link*/
.toast a {
  color: #cccccc !important;
}

.max-height-admin-prodSelector {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
